<h1>New Post</h1>

# form here is a partial - no need to add underscore
# or .html.erb - ruby does that
# then assigning @post as instance variable to post
<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>
